.grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 29px;
  gap: 30px;
  @media (max-width: 768px) {
    gap: 12px;
    justify-content: space-around;
  }
}
